* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  text-align: center;
  padding: 0 1rem;
}
h1 {
  text-transform: capitalize;
  text-decoration: underline;
  text-underline-offset: 8px;
  margin: 2rem 0;
}
li {
  list-style-type: none;
}
.todos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
.todo {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
  background: gainsboro;
  text-transform: capitalize;
  text-align: left;
  font-size: 1rem;
  border-radius: 0.25rem;
  padding: 0.25rem 1rem;
}
.remove-btn {
  background: whitesmoke;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  place-items: center;
  padding: 4px;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}
.remove-btn svg {
  width: 1.5rem;
  fill: red;
}

/* 
add task field
*/
.add-task-field {
  display: flex;
  justify-content: start;
  gap: 0.5rem;
  margin-top: 1rem;
  padding: 0.25rem 1rem;
  background: black;
  border: 2px solid black;
  border-radius: 0.25rem;
}
.input-task {
  border-radius: 2px;
  background: rgb(30, 30, 30);
  color: #fff;
  border: none;
  width: 0;
  flex: 0;
  padding: 0;
  transition: flex 0.5s ease, padding 0.5s ease;
}
.input-task.active {
  flex: 1;
  padding: 0.25rem 1rem;
}
.input-task::placeholder {
  color: #b9b9b9;
  text-transform: capitalize;
}
.add-task-btn {
  width: 105px;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.4rem 0.8rem;
  text-transform: capitalize;
  background: transparent;
  color: #fff;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
}
.add-task-btn i {
  color: magenta;
}
.add-task-btn:hover {
  background: rgb(55, 55, 55);
}
.loading-btn svg {
  width: 1rem;
  fill: red;
  animation: spinner 1s linear infinite;
}
@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
